body{
    margin: 0%;
}

a{
    text-decoration: none;
}

h1{
    color: #F16EA7;
}

h2{
    color: orange;
}

nav{
    background-color: #DFFFFB;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #F16EA7;

}

.imgbonbon {
    height: 20rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.france {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Hind Vadodara", sans-serif;
    
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    
}

article {
    display:flex;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
}

.price > p {
    color: orange;
}

article > p {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

button {
    background-color: white;
    border: 0px solid white;
    height: 2rem;
    width: 2rem;
}

button > img {
    height: 2rem;
    width: 2rem;
    border-radius: 24px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

main > section > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

article > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: #F16EA7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 1.2em;
    color: #DFFFFB;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

