body{
    margin: 0%;
}

nav{
    background-color: #DFFFFB;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #F16EA7;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.france {
    display: flex;
    justify-content: center;
    align-items: center;
}

.france > img {
    width: 50px;
    margin-right: 15%;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: white;
    border: 0px solid white;
    height: 2rem;
    width: 2rem;
}

button > img {
    height: 2rem;
    width: 2rem;
    border-radius: 24px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

main > section > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

main > section > article > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
}



footer {
    background-color: #F16EA7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 1.2em;
    color: #DFFFFB;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* on choisit l'apparence des boutons (border arrondie + police fredoka) */

/* .bmoins{
    border-radius: 24px;
    border: 1px solid black;
    background-color: white;
    color: #E99F37;
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmoins > p{
    align-items: center;
} */