/* Éléments connus */

body{
    margin: 0%;
}

nav{
    background-color: #DFFFFB;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.france {
    display: flex;
    justify-content: center;
    align-items: center;

}

.france > img {
    width: 50px;
}

a{
    text-decoration: none;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.Type_shop {
    display: flex;
    justify-content: center;
}


section > img {
    width: 50%;
}



footer {
    background-color: #F16EA7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

<<<<<<< HEAD
footer > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
=======
/* Page produit*/

.barre {
    border-radius: 24px;
    background-color: #DFFFFB;
    color: #E99F37;
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-style: normal;
}

.barre > a {
    color: #E99F37;
}

.barre > a:hover {
     color: #F16EA7;
     text-decoration: underline;
>>>>>>> 7a23de1dfcec0a3ac27431a76239683151b3b3a1
}