/* Page produit*/

body{
    margin: 0%;
}

/* header */

nav{
    background-color: #DFFFFB;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #F16EA7;

}

a{
    color:#F16EA7;
}

a:hover{
    color: #E99F37;
}

nav > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu > a {
    color: #F16EA7;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.retour {
    font-size: 1.5em;
    font-family: "Fredoka", sans-serif;
    color:#E99F37;
    display: flex;
    justify-content: center;
}


.produit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding:10%;
    width:75%;
}

.produit > article > h1{
color: #E99F37;
}

section > div > img {
    height: 90%;
    width: 90%;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-size: 1.5em;
    color:#E99F37;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article {
    margin-left: 10%;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    font-family: "Fredoka", sans-serif;
}

/* button {
    padding: 5%;
    background-color: white;
    font-size: 1.2em;
    font-family: "Hind Vadodara", sans-serif;
    color: #F16EA7;
    border-radius: 10%;
} */


.infos > p{
font-size: 1.2rem;
}

.infos > h1{
font-size: 5rem;
}

.infos > h2{
    font-size: 1.7rem;
}



footer {
    background-color: #F16EA7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 1.2em;
    color: #DFFFFB;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* liens */

a{
    text-decoration: none;
}