/* Page produit*/


.barre {
    border-radius: 24px;
    background-color: #DFFFFB;
    height : 3rem;
    width: 36rem;
    color: #E99F37;
    font-family: "Fredoka", sans-serif;
    font-size: 1.7rem;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barre > p > a {
    color: #E99F37;
}

.barre > p > a:hover {
     color: #F16EA7;
     text-decoration: underline;
}

.base{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.base > img{
    height: 28rem;
    width: 26rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-top: -6rem;
}

.infos > p{
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 6rem;
}

.infos > h1{
font-size: 3rem;

}

.infos > h2{
    font-size: 1.7rem;
}